@model IEnumerable<ProjektMVC.Models.Projekt.Kupac>

@{
    ViewBag.Title = "Kupci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kupci</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td class="text-right">
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Uredi", "EditKupac", new { id = item.IDKupac }, new { @class = "btn btn-info" })
                    }
                    @Html.ActionLink("Računi", "Racuni", new { id = item.IDKupac }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>

</table>

<p>
    @Html.ActionLink("Natrag", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
</p>