@model IEnumerable<ProjektMVC.Models.Projekt.Racun>

@{
    ViewBag.Title = "Racuni";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script>
    window.onload = function () {
        var tablica = @Html.Partial("Partial_Racuni", Model.OrderBy(item => item.DatumIzdavanja))
        $("#tablica").append(tablica);
    }

    @*function sort() {
        switch ($("select#ddlSort option:selected").attr("value")) {
            case "dUzlazno":
                $("#tablica").append("@Html.Partial("Partial_Racuni", Model.OrderBy(item => item.DatumIzdavanja))");
                break;
            case "dSilazno":
                $("#tablica").append("@Html.Partial("Partial_Racuni", Model.OrderByDescending(item => item.DatumIzdavanja))");
                break;
            case "kUzlazno":
                $("#tablica").append("@Html.Partial("Partial_Racuni", Model.OrderBy(item => item.Komercijalist.KomercijalistIme))");
                break;
            case "kSilazno":
                $("#tablica").append("@Html.Partial("Partial_Racuni", Model.OrderByDescending(item => item.Komercijalist.KomercijalistIme))");
                break;
            case "tUzlazno":
                $("#tablica").append("@Html.Partial("Partial_Racuni", Model.OrderBy(item => item.KreditnaKartica.TipKartice))");
                break;
            case "tSilazno":
                $("#tablica").append("@Html.Partial("Partial_Racuni", Model.OrderByDescending(item => item.KreditnaKartica.TipKartice))");
                break;
            default:
        }
    }*@
    
</script>

<h2>Računi</h2>

<div class="col-md-2">
    <select id="ddlSort" class="form-control" onchange="sort()">
        <option hidden selected>Sortiraj</option>
        <option value="dUzlazno">Datum uzlazno</option>
        <option value="dSilazno">Datum silazno</option>
        <option value="kUzlazno">Komercijalist uzlazno</option>
        <option value="kSilazno">Komercijalist silazno</option>
        <option value="tUzlazno">Tip kartica uzlazno</option>
        <option value="tSilazno">Tip kartice silazno</option>
    </select>
</div>
<div id="tablica"></div>

<p>
    @Html.ActionLink("Natrag", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
</p>
